# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle
on:
  push:
    branches: [ "master", "develop" ]
jobs:
  build:
    environment: dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
    - name: setup push config
      run: |
        echo "nexusUrl=${{ vars.NEXUSURL }}" > local.properties
        echo "nexusUsername=${{ secrets.NEXUSUSERNAME }}" >> local.properties
        echo "nexusPassword=${{ secrets.NEXUSPASSWORD }}" >> local.properties
        cat local.properties
    - name: Build with Gradle Wrapper
      run: ./gradlew uploadArchive
